.Profile {
    max-width: 800px;
    margin: 3em 0;
}

.Profile h1,
.Profile p {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .Profile h1,
    .Profile p {
        text-align: center;
    }

    .Profile h1 {
        margin-top: 1em;
    }

    .Profile {
        margin: 3em 0 1em;
    }
}